{
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "jsx-quotes": [1, "prefer-double"],
    "no-console": 0
  },
  "plugins": ["prettier", "babel"],
  "env": {
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint"
}
